{% extends "base.twig" %}

{% block content %}

    <h1 class="pagetitle">{{ title }}</h1>

    <div class="author-box">
        <div class="row">
            {% if author.photo %}
                <div class="col-sm-4 col-xs-12">
                    <img src="{{ TimberImage(author.photo)|resize(200) }}" alt="{{ title }}" title="{{ title }}" class="img-responsive"/>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <p class="single">
                        {% if language.language_code == 'de' %}
                            {% if author.bio_de != '' %}
                                {{ author.bio_de }}
                            {% else %}
                                {{ author.description }}
                            {% endif %}
                        {% elseif language.language_code == 'es' %}
                            {% if author.bio_es != '' %}
                                {{ author.bio_es }}
                            {% else %}
                                {{ author.description }}
                            {% endif %}
                        {% elseif language.language_code == 'fr' %}
                            {% if author.bio_fr != '' %}
                                {{ author.bio_fr }}
                            {% else %}
                                {{ author.description }}
                            {% endif %}
                        {% elseif language.language_code == 'it' %}
                            {% if author.bio_it != '' %}
                                {{ author.bio_it }}
                            {% else %}
                                {{ author.description }}
                            {% endif %}
                        {% elseif language.language_code == 'pt-pt' %}
                            {% if author.bio_pt != '' %}
                                {{ author.bio_pt }}
                            {% else %}
                                {{ author.description }}
                            {% endif %}
                        {% elseif language.language_code == 'el' %}
                            {% if author.bio_el != '' %}
                                {{ author.bio_el }}
                            {% else %}
                                {{ author.description }}
                            {% endif %}
                        {% else %}
                            {{ author.description }}
                        {% endif %}
                    </p>
                </div>
            {% else %}
                <div class="col-xs-12">
                    <p class="single">
                        {% if language.language_code == 'de' %}
                            {% if author.bio_de != '' %}
                                {{ author.bio_de }}
                            {% else %}
                                {{ author.description }}
                            {% endif %}
                        {% elseif language.language_code == 'es' %}
                            {% if author.bio_es != '' %}
                                {{ author.bio_es }}
                            {% else %}
                                {{ author.description }}
                            {% endif %}
                        {% elseif language.language_code == 'fr' %}
                            {% if author.bio_fr != '' %}
                                {{ author.bio_fr }}
                            {% else %}
                                {{ author.description }}
                            {% endif %}
                        {% elseif language.language_code == 'it' %}
                            {% if author.bio_it != '' %}
                                {{ author.bio_it }}
                            {% else %}
                                {{ author.description }}
                            {% endif %}
                        {% elseif language.language_code == 'pt-pt' %}
                            {% if author.bio_pt != '' %}
                                {{ author.bio_pt }}
                            {% else %}
                                {{ author.description }}
                            {% endif %}
                        {% elseif language.language_code == 'el' %}
                            {% if author.bio_el != '' %}
                                {{ author.bio_el }}
                            {% else %}
                                {{ author.description }}
                            {% endif %}
                        {% else %}
                            {{ author.description }}
                        {% endif %}
                    </p>
                </div>
            {% endif %}
        </div>
    </div>

    {% for post in posts %}
        {% include ["tease.twig"] %}
    {% endfor %}

    <ul class="pagination">
        {% if pagination.prev %}
            <li><a href="{{ pagination.prev.link }}" class="prev {{ pagination.prev.link|length ? '' : 'invisible' }}">&laquo;</a></li>
        {% endif %}

        {% for page in pagination.pages %}
            <li>
                {% if page.link %}
                    <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                {% else %}
                    <span class="{{ page.class }}">{{ page.title }}</span>
                {% endif %}
            </li>
        {% endfor %}

        {% if pagination.next %}
            <li><a href="{{ pagination.next.link }}" class="next {{ pagination.next.link|length ? '' : 'invisible' }}">&raquo;</a></li>
        {% endif %}
    </ul>

{% endblock %}
