{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>
<body class="{{ body_class }}">
<nav class="navbar navbar-inverse" role="navigation">
    {% block navbar %}
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pressenza-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="btn-group hidden-sm hidden-md hidden-lg">
                    <button type="button" class="ml-btn dropdown-toggle" data-toggle="dropdown">
                        {{ language.native_name }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for lang in languages %}
                            {% if lang.active == 0 %}
                                <li><a href="{{ lang.url }}"><img src="{{ lang.country_flag_url }}" alt="{{ lang.native_name }}" class="flag"> {{ lang.native_name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <a href="{{ homeurl }}" class="navbar-brand"><span class="glyphicon glyphicon-home"></span><span class="sr-only">Home</span></a>
            </div>

            <div class="collapse navbar-collapse" id="pressenza-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% for item in menu.get_items %}
                        {% if item.get_children %}
                            <li class="dropdown visible-xs"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ item.get_path }}">{{ item.title }} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for child in item.get_children %}
                                        <li><a href="{{ child.get_path }}">{{ child.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="visible-xs"><a href="{{ item.get_path }}">{{ item.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% for item in topmenu.items %}
                        {% if item.current == 1 %}
                            <li class="active"><a href="{{ item.url }}">{{ item.title }}</a></li>
                        {% else %}
                            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ language.country_flag_url }}" alt="{{ language.native_name }}" class="flag"> {{ language.native_name }} &nbsp; <b class="caret"></b></a>
                        <ul class="dropdown-menu hidden-xs" role="menu">
                            {% for lang in languages %}
                                {% if lang.active == 0 %}
                                    <li><a href="{{ lang.url }}"><img src="{{ lang.country_flag_url }}" alt="{{ lang.native_name }}" class="flag"> {{ lang.native_name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <ul class="top_social_icons">
                            <li class="twitter"><a href="http://twitter.com/PressenzaIPA" target="_blank">twitter</a></li>
                            <li class="facebook"><a href="https://www.facebook.com/pressenza" target="_blank">facebook</a></li>
                            <li class="rss"><a href="{{ homeurl }}/feed/" target="_blank">rss</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    {% endblock %}
</nav>

<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="{{ homeurl }}"><img src="{{ THEME_URL }}/images/pressenza.png" alt="Pressenza" class="img-responsive"></a>
            </div>
        </div>
    </div>
</header>

<nav id="meta" class="hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-pills">
                    {% for item in menu.get_items %}
                        {% if item.get_children %}
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ item.get_path }}">{{ item.title }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for child in item.get_children %}
                                        <li><a href="{{ child.get_path }}">{{ child.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ item.get_path }}">{{ item.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav>

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
            <div id="content-right" class="col-xs-12 col-md-4">
                {{ sidebar_right }}
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-sm hidden-xs">
                <h5>{{ __('Read articles by region', 'pressenza') }}</h5>
                <ul role="menu">
                    {% for item in footer1 %}
                        <li>&raquo; <a href="{{ item.link }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <h5>{{ __('Read articles by section', 'pressenza') }}</h5>
                <ul role="menu">
                    {% for item in footer2 %}
                        <li>&raquo; <a href="{{ item.link }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-md-4 col-md-offset-2">
                {{ sidebar_bottom }}
            </div>
        </div>
    </div>
</footer>

<div class="bottom-bar">
    {% include 'bottom-bar.twig' %}
</div>

{{ function('wp_footer') }}
</body>
</html>