{% extends "base.twig" %}

{% block content %}
    <h1 class="sr-only">Pressenza Featured Articles</h1>
    <div id="featured" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for post in featured %}
                {% if loop.index == 1 %}
                <div class="item active">
                {% else %}
                <div class="item">
                {% endif %}
                    <a href="{{ post.url }}"><img src="{{ post.img }}" alt="{{ post.title }}"></a>

                    <div class="carousel-caption">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

                        <p class="hidden-xs">{{ post.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#featured" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#featured" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <section class="box">
                <h1>{{ __('Latest News', 'pressenza') }}</h1>

                <div class="box-content">
                    {% for post in latest %}
                        <div class="article-latest" onclick="location.href='{{ post.link }}'">
                            <div class="row">
                                <div class="col-xs-4 col-sm-2">
                                    {% if post.get_thumbnail %}
                                        <img src="{{ post.thumbnail.src('thumbnail') }}" alt="{{ post.title }}" class="img-responsive">
                                    {% endif %}
                                </div>
                                <div class="col-xs-8 col-sm-10">
                                    <div class="article-list-date">{{ post.post_date|date("d.m.Y") }}</div>
                                    <h2>{{ post.title }}</h2>

                                    <p class="hidden-xs">{{ post.get_preview(20,false,'',true) }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <section class="box">
                <h1>{{ __('Opinions', 'pressenza') }}</h1>

                <div class="box-content">
                    {% for post in opinions %}
                        <p class="list"><a href="{{ post.link }}">{{ post.title }}</a></p>
                    {% endfor %}
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-6">
            <section class="box">
                <h1>{{ __('Interviews', 'pressenza') }}</h1>

                <div class="box-content">
                    {% for post in interviews %}
                        <p class="list"><a href="{{ post.link }}">{{ post.title }}</a></p>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>

    <div class="row hidden-sm">
        <div class="col-xs-12">
            <section class="box">
                <h1>{{ __('Sections', 'pressenza') }}</h1>

                <div class="box-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            {{ seccolumn.0 }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{ seccolumn.1 }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}