{% extends "base.twig" %}

{% block content %}
    <article class="article-view" id="post-{{ post.ID }}">
        <header>

            <h1>{{ post.title }}</h1>

            <p class="article-view-meta">
                <strong>
                    {{ post.post_date|date("d.m.Y") }}
                    {% if post.place != '' %}
                        - {{ post.place }}
                    {% endif %}
                </strong> - <a href="{{ post.author.link }}">{{ post.author.name }}</a>
            </p>
        </header>

        {% if otherlanguages != '' %}
            <p class="post_in_other_langs">{{ __('This post is also available in: %s', 'pressenza')|format(otherlanguages) }}</p>
        {% endif %}

        {% if post.get_thumbnail %}
            <figure>
                <img src="{{ post.thumbnail.src('large') }}" class="img-responsive" alt="{{ post.title }}"/>
                <figcaption>
                    {% if language.language_code == 'de' %}
                        {{ post.thumbnail.caption_de }}
                    {% elseif language.language_code == 'es' %}
                        {{ post.thumbnail.caption_es }}
                    {% elseif language.language_code == 'fr' %}
                        {{ post.thumbnail.caption_fr }}
                    {% elseif language.language_code == 'it' %}
                        {{ post.thumbnail.caption_it }}
                    {% elseif language.language_code == 'pt-pt' %}
                        {{ post.thumbnail.caption_pt }}
                    {% elseif language.language_code == 'el' %}
                        {{ post.thumbnail.caption_el }}
                    {% else %}
                        {{ post.thumbnail.caption }}
                    {% endif %}

                    {% if post.thumbnail.credits_pod != '' %}
                        ({{ __('Image by', 'pressenza') }} {{ post.thumbnail.credits_pod }})
                    {% endif %}
                </figcaption>
            </figure>
        {% endif %}

        <div class="article-view-content">
            {{ post.content }}

            {% if post.original_article_url != '' %}
                <div style="font-size:15px; margin-top:15px;">
                    <p><a href="{{ post.original_article_url }}" target="_blank"><span class="glyphicon glyphicon-globe" style="font-size:11px;"></span> {{ __('The original article can be found on our partner\'s website here', 'pressenza') }}</a></p>
                </div>
            {% endif %}

            <div class="share clearfix">
                <div class="share-fb-like">
                    <div class="fb-like" data-href="{{ language.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                </div>
                <div class="share-fb">
                    <div class="fb-share-button" data-href="{{ language.url }}" data-layout="button_count"></div>
                </div>

                <div class="share-twitter">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ language.url }}" data-text="{{ post.title }}" data-lang="{{ language.language_code }}"></a>
                </div>

                <div class="share-google">
                    <div class="g-plusone" data-size="medium" data-href="{{ language.url }}"></div>
                </div>
            </div>
            <div id="fb-root"></div>
            <script>(function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/{{ language.default_locale }}/sdk.js#xfbml=1&version=v2.5";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
            <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + '://platform.twitter.com/widgets.js';
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, 'script', 'twitter-wjs');</script>
            <script src="https://apis.google.com/js/platform.js" async defer></script>

            <div class="article-view-meta-bottom">{{ __('Categories', 'pressenza') }}: {{ postcats }}<br>{{ posttags }}</div>
        </div>

    </article>

    <aside class="box">
        <h2 class="box-title">{{ __('About The Author', 'pressenza') }}</h2>

        <div class="box-content">
            <div class="row">
                <div class="col-sm-2 col-xs-4">
                    {% if post.author.photo %}
                        <img src="{{ TimberImage(post.author.photo)|resize(70) }}" alt="{{ post.author.name }}" title="{{ post.author.name }}" class="img-responsive">
                    {% else %}
                        {{ authoravatar }}
                    {% endif %}
                </div>
                <div class="col-sm-10 col-xs-8">
                    <p><strong><a href="{{ post.author.link }}" rel="author">{{ post.author.name }}</a></strong><br/>
                        {% if language.language_code == 'de' %}
                            {% if post.author.bio_de != '' %}
                                {{ post.author.bio_de }}
                            {% else %}
                                {{ post.author.description }}
                            {% endif %}
                        {% elseif language.language_code == 'es' %}
                            {% if post.author.bio_es != '' %}
                                {{ post.author.bio_es }}
                            {% else %}
                                {{ post.author.description }}
                            {% endif %}
                        {% elseif language.language_code == 'fr' %}
                            {% if post.author.bio_fr != '' %}
                                {{ post.author.bio_fr }}
                            {% else %}
                                {{ post.author.description }}
                            {% endif %}
                        {% elseif language.language_code == 'it' %}
                            {% if post.author.bio_it != '' %}
                                {{ post.author.bio_it }}
                            {% else %}
                                {{ post.author.description }}
                            {% endif %}
                        {% elseif language.language_code == 'pt-pt' %}
                            {% if post.author.bio_pt != '' %}
                                {{ post.author.bio_pt }}
                            {% else %}
                                {{ post.author.description }}
                            {% endif %}
                        {% elseif language.language_code == 'el' %}
                            {% if post.author.bio_el != '' %}
                                {{ post.author.bio_el }}
                            {% else %}
                                {{ post.author.description }}
                            {% endif %}
                        {% else %}
                            {{ post.author.description }}
                        {% endif %}
                    </p>

                    <div class="author_info">
                        <div class="pull-left">{{ __('Number of Entries', 'pressenza') }} : {{ authorposts }}</div>
                        <div class="pull-right">
                            {% if post.author.facebook %}
                                <a href="{{ post.author.facebook }}"><img src="/wp-content/themes/pressenza/images/icons/facebook.png" alt="Facebook"></a> &nbsp;
                            {% endif %}
                            {% if post.author.twitter %}
                                <a href="http://twitter.com/{{ post.author.twitter }}"><img src="/wp-content/themes/pressenza/images/icons/twitter.png" alt="Twitter"></a>
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
{% endblock %}
