<section class="article-list">
    {% block content %}
        <div class="article-list-item">

            <div class="article-list-date clearfix">
                <div class="pull-left">{{ post.post_date|date("d.m.Y") }}</div>
                <div class="pull-right"><a href="{{ post.author.path }}"> {{ post.author.name }}</a></div>
            </div>

            <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>

            <div class="row">
                {% if post.get_thumbnail %}
                    <div class="col-sm-4 col-xs-12">
                        <a href="{{ post.link }}"><img src="{{ post.thumbnail.src('medium') }}" alt="{{ post.title }}" class="img-responsive"></a>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <p>{{ post.get_preview(50,false,'&raquo;') }}</p>
                    </div>
                {% else %}
                    <div class="col-xs-12">
                        <p>{{ post.get_preview(50,false,'&raquo;') }}</p>
                    </div>
                {% endif %}
            </div>

        </div>
    {% endblock %}
</section>